<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-appointment-heading"
        data-cy="AppointmentCreateUpdateHeading"
        jhiTranslate="patientMonitorApp.appointment.home.createOrEditLabel"
      >
        Create or edit a Appointment
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="patientMonitorApp.appointment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="patientMonitorApp.appointment.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'patientMonitorApp.AppointmentStatus.null' | translate }}</option>
            @for (appointmentStatus of appointmentStatusValues; track $index) {
              <option [value]="appointmentStatus">{{ 'patientMonitorApp.AppointmentStatus.' + appointmentStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="patientMonitorApp.appointment.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="patientMonitorApp.appointment.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_slot" jhiTranslate="patientMonitorApp.appointment.slot">Slot</label>
          <select
            class="form-control"
            id="field_slot"
            data-cy="slot"
            name="slot"
            formControlName="slot"
            [compareWith]="compareAppointmentSlot"
          >
            @if (!editForm.get('slot')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (appointmentSlotOption of appointmentSlotsSharedCollection; track $index) {
              <option [ngValue]="appointmentSlotOption">{{ appointmentSlotOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['slot'])!.invalid && (editForm.get(['slot'])!.dirty || editForm.get(['slot'])!.touched)) {
          <div>
            @if (editForm.get(['slot'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_patient" jhiTranslate="patientMonitorApp.appointment.patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            @if (!editForm.get('patient')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['patient'])!.invalid && (editForm.get(['patient'])!.dirty || editForm.get(['patient'])!.touched)) {
          <div>
            @if (editForm.get(['patient'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_doctor" jhiTranslate="patientMonitorApp.appointment.doctor">Doctor</label>
          <select
            class="form-control"
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            formControlName="doctor"
            [compareWith]="compareDoctor"
          >
            @if (!editForm.get('doctor')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (doctorOption of doctorsSharedCollection; track $index) {
              <option [ngValue]="doctorOption">{{ doctorOption.specialization }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['doctor'])!.invalid && (editForm.get(['doctor'])!.dirty || editForm.get(['doctor'])!.touched)) {
          <div>
            @if (editForm.get(['doctor'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
