<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-chat-message-heading"
        data-cy="ChatMessageCreateUpdateHeading"
        jhiTranslate="patientMonitorApp.chatMessage.home.createOrEditLabel"
      >
        Create or edit a Chat Message
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="patientMonitorApp.chatMessage.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let roleRef = editForm.get('role')!;
        <div class="mb-3">
          <label class="form-label" for="field_role" jhiTranslate="patientMonitorApp.chatMessage.role">Role</label>
          <select class="form-control" name="role" formControlName="role" id="field_role" data-cy="role">
            <option [ngValue]="null">{{ 'patientMonitorApp.ChatRole.null' | translate }}</option>
            @for (chatRole of chatRoleValues; track $index) {
              <option [value]="chatRole">{{ 'patientMonitorApp.ChatRole.' + chatRole | translate }}</option>
            }
          </select>
          @if (roleRef.invalid && (roleRef.dirty || roleRef.touched)) {
            <div>
              @if (editForm.get('role')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let contentRef = editForm.get('content')!;
        <div class="mb-3">
          <label class="form-label" for="field_content" jhiTranslate="patientMonitorApp.chatMessage.content">Content</label>
          <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
          @if (contentRef.invalid && (contentRef.dirty || contentRef.touched)) {
            <div>
              @if (editForm.get('content')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdAtRef = editForm.get('createdAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="patientMonitorApp.chatMessage.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdAtRef.invalid && (createdAtRef.dirty || createdAtRef.touched)) {
            <div>
              @if (editForm.get('createdAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contextStartDate" jhiTranslate="patientMonitorApp.chatMessage.contextStartDate"
            >Context Start Date</label
          >
          <div class="input-group">
            <input
              id="field_contextStartDate"
              data-cy="contextStartDate"
              type="text"
              class="form-control"
              name="contextStartDate"
              ngbDatepicker
              #contextStartDateDp="ngbDatepicker"
              formControlName="contextStartDate"
            />
            <button type="button" class="btn btn-secondary" (click)="contextStartDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_contextEndDate" jhiTranslate="patientMonitorApp.chatMessage.contextEndDate"
            >Context End Date</label
          >
          <div class="input-group">
            <input
              id="field_contextEndDate"
              data-cy="contextEndDate"
              type="text"
              class="form-control"
              name="contextEndDate"
              ngbDatepicker
              #contextEndDateDp="ngbDatepicker"
              formControlName="contextEndDate"
            />
            <button type="button" class="btn btn-secondary" (click)="contextEndDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patient" jhiTranslate="patientMonitorApp.chatMessage.patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            @if (!editForm.get('patient')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['patient'])!.invalid && (editForm.get(['patient'])!.dirty || editForm.get(['patient'])!.touched)) {
          <div>
            @if (editForm.get(['patient'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
