<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification(); as notificationRef) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="patientMonitorApp.notification.detail.title">Notification</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notificationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'patientMonitorApp.NotificationType.' + (notificationRef.type ?? 'null')">{{
              {
                null: '',
                THRESHOLD_ALERT: 'THRESHOLD_ALERT',
                ANOMALY_DETECTED: 'ANOMALY_DETECTED',
                APPOINTMENT_REMINDER: 'APPOINTMENT_REMINDER',
                GENERAL: 'GENERAL',
              }[notificationRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.title">Title</span></dt>
          <dd>
            <span>{{ notificationRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.message">Message</span></dt>
          <dd>
            <span>{{ notificationRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.isRead">Is Read</span></dt>
          <dd>
            <span>{{ notificationRef.isRead }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.createdAt">Created At</span></dt>
          <dd>
            <span>{{ notificationRef.createdAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.recipientUser">Recipient User</span></dt>
          <dd>
            <span>{{ notificationRef.recipientUser?.login }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.senderUser">Sender User</span></dt>
          <dd>
            <span>{{ notificationRef.senderUser?.login }}</span>
          </dd>
          <dt><span jhiTranslate="patientMonitorApp.notification.relatedPatient">Related Patient</span></dt>
          <dd>
            @if (notification()!.relatedPatient) {
              <div>
                <a [routerLink]="['/patient', notification()!.relatedPatient?.id, 'view']">{{ notificationRef.relatedPatient?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/notification', notificationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
