@if (appointmentSlot) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(appointmentSlot.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="appointmentSlotDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-appointmentSlot-heading"
        jhiTranslate="patientMonitorApp.appointmentSlot.delete.question"
        [translateValues]="{ id: appointmentSlot.id }"
      >
        Are you sure you want to delete Appointment Slot {{ appointmentSlot.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-appointmentSlot" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
