<div>
  <h2 id="page-heading" data-cy="ChatMessageHeading">
    <span jhiTranslate="patientMonitorApp.chatMessage.home.title">Chat Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="patientMonitorApp.chatMessage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chat-message"
        [routerLink]="['/chat-message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="patientMonitorApp.chatMessage.home.createLabel">Create a new Chat Message</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (chatMessages().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="patientMonitorApp.chatMessage.home.notFound">No Chat Messages found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="role">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.role">Role</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="content">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.content">Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdAt">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.createdAt">Created At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contextStartDate">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.contextStartDate">Context Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contextEndDate">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.contextEndDate">Context End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="patient.id">
              <div class="d-flex">
                <span jhiTranslate="patientMonitorApp.chatMessage.patient">Patient</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (chatMessage of chatMessages(); track trackId(chatMessage)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/chat-message', chatMessage.id, 'view']">{{ chatMessage.id }}</a>
              </td>
              <td [jhiTranslate]="'patientMonitorApp.ChatRole.' + (chatMessage.role ?? 'null')">
                {{ { null: '', USER: 'USER', ASSISTANT: 'ASSISTANT' }[chatMessage.role ?? 'null'] }}
              </td>
              <td>{{ chatMessage.content }}</td>
              <td>{{ chatMessage.createdAt | formatMediumDatetime }}</td>
              <td>{{ chatMessage.contextStartDate | formatMediumDate }}</td>
              <td>{{ chatMessage.contextEndDate | formatMediumDate }}</td>
              <td>
                @if (chatMessage.patient) {
                  <div>
                    <a [routerLink]="['/patient', chatMessage.patient.id, 'view']">{{ chatMessage.patient.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/chat-message', chatMessage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/chat-message', chatMessage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(chatMessage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
